@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');
@import url('root.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
    background: var(--color-white);
}
#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}
header {
    padding: 20px 0px;
}
.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.flexContainer #logoArea img {
    width: 75px;
}
.flexContainer nav a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 13.5px;
    font-weight: 500;
    color: var(--color-black);
}
.flexContainer nav a:hover {
    text-decoration: underline;
}
.flexContainer nav #mainBtn {
    background: var(--color-white);
    padding: 5px 12px;
    font-size: 13.5px;
    color: var(--color-black);
    font-weight: 600;
    border: 1px solid var(--color-gray);
    margin-right: 5px;
    cursor: pointer;
    transition: all ease 300ms;
}
.flexContainer nav #whatsappBtn {
    background: var(--color-black);
    padding: 5px 12px;
    font-size: 13.5px;
    color: var(--color-white);
    font-weight: 600;
    border: 1px solid var(--color-black);
    margin-right: 5px;
    cursor: pointer;
    transition: all ease 300ms;
}
.flexContainer nav #mainBtn:hover,
.flexContainer nav #whatsappBtn:hover {
    background-color: var(--color-black);
    color: var(--color-off-white);
}
.flexContainer #flex h1 {
    font-size: 62px;
    background: rgb(251,0,0);
    background: linear-gradient(90deg, rgba(251,0,0,1) 0%, rgba(255,143,0,1) 100%);
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 80px;
}
.flexContainer #flex h3 {
    font-size: 38px;
    font-weight: 300;
    line-height: 90px;
}
.flexContainer #flex .searchBox {
    position: relative;
}
.flexContainer #flex .searchBox form input {
    width: 100%;
    padding: 18px 80px;
    outline: none;
    border-radius: 30px;
    border: 1px solid var(--color-gray);
    font-size: 14px;
    font-family: 'DM Mono', monospace;
}
.flexContainer #flex .searchBox form #mainIcon {
    position: absolute;
    font-size: 20px;
    top: 18px;
    left: 30px;
    color: var(--color-primary);
}
.flexContainer #flex .searchBox form button {
    position: absolute;
    right: 10px;
    top: 8px;
    border-radius: 100%;
    padding: 10px 12px;
    border: 1px solid var(--color-black);
    background: var(--color-black);
    color: var(--color-white);
}
.countryBtn a {
    padding: 10px;
    display: inline-block;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    background: var(--color-off-white);
    border: 1px solid var(--color-gray);
    margin-top: 20px;
    transition: all ease 300ms;
}
.countryBtn a:hover {
    background: var(--color-white);
}
.howItWorks {
    margin-top: 120px;
}
.howItWorks h1 {
    font-size: 48px;
}
.howItWorks h3 {
    font-size: 28px;
    font-weight: 400;
}
.flexBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.flexBoxes #flex img {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.paddingBox {
    padding: 20px;
}
.flexBoxes #flex h2 {
    font-weight: 500;
}
.flexBoxes #flex hr {
    width: 40px;
    height: 2px;
    border: 0 none;
    background: #313866;
    margin-top: 20px;
    margin-bottom: 20px;
}
.flexBoxes #flex p {
    font-weight: 400;
    font-size: 18px;
}
.halfBack {
    background: rgb(255,74,82);
    background: linear-gradient(180deg, rgba(255,74,82,1) 0%, rgba(246,165,68,1) 100%);
    width: 100%;
    height: 250px;
    position: relative;
}
.loginArea {
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #eee;
    max-width: 500px;
    margin-top: 140px;
}
.loginArea img {
    width: 100px;
}
.loginArea h1 {
    font-weight: 400;
    font-size: 32px;
}
.loginArea p {
    font-size: 16px;
    color: #333;
}
.loginArea form input {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.loginArea form input:focus {
    border: 1px solid #111;
}
.loginArea button {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F6635C;
    background: #F6635C;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    transition: all ease 300ms;
}
.loginArea button:hover {
    background: #000;
    border: 1px solid #000;
}
#extraWrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.dashboard h3 {
    font-size: 24px;
    font-weight: 600;
    color: #313866;
    padding-bottom: 18px;
}
.dashboard hr {
    height: 1px;
    background: #ccc;
    border: 0 none;
}
.quickSearch input {
    padding: 10px;
    background: #fff;
    border: 3px solid #ccc;
    width: 250px;
    font-size: 14.5px;
    outline: none;
}
.defaultApplication {
    background: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 14px;
}
.defaultApplication hr {
    height: 1px;
    background: #ccc;
    border: 0 none;
}
.defaultApplication .flexApplicationList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.defaultApplication .flexApplicationList:last-child {
    margin-bottom: 0px;
}
.defaultApplication .flexApplicationList .title {
    font-weight: 700;
}
.defaultApplication .flexApplicationList .code {
    font-weight: 400;
    color: #666;
    font-size: 13.5px;
}
.defaultApplication .flexApplicationList .applicationBtn {
    background: #CAEDFF;
    color: #0C356A;
    padding: 10px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #CAEDFF;
    float: right;
    transition: all ease 300ms;
}
.defaultApplication .flexApplicationList .applicationBtn:hover {
    background:#0C356A;
    color:#CAEDFF;
}
.stepsArea {
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #eee;
    max-width: 1200px;
    margin-top: 140px;
}
.stepVerificationFlex {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.innerStepFlex {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.travelCard {
    display: flex;
    gap: 10px;
}
.flexCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.travelCard .continueBtn {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #071952;
    background: #071952;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease 300ms;
}
.travelCard .continueBtn:hover {
    background: #fff;
    color: #071952;
}
.flexFormContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 40px;
}
.formFlex {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#flexForm label {
    font-size: 13px;
    font-weight: 700;
    color: var(--color-black);
}
#flexForm .input_size {
    padding: 10px;
    border: 3px solid var(--color-gray);
    width: 100%;
    outline: none;
}
#flexForm .input_size:hover {
    padding: 10px;
    border: 3px solid var(--color-primary);
}
#flexForm .input_btn {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F6635C;
    background: #F6635C;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    transition: all ease 300ms;
}
#flexForm .input_btn:disabled {
    background: #f1f1f1;
    color: #888;
    border: 1px solid #f1f1f1;
    cursor: no-drop;
}
.paymentFlexContainer {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.paymentFlexContainer #flexBox button {
    background: transparent;
    font-size: 20px;
    border: 0 none;
}
.paymentFlexContainer #flexBox form .couponCodeInput {
    padding: 10px;
    border: 2px solid var(--color-gray);
    font-size: 14px;
    outline: none;
    border-radius: 10px;
}
.paymentFlexContainer #flexBox form button {
    padding: 10px;
    font-size: 14px;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 14px;
    border-radius: 10px;
}
.calcFlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardStack {
    background: var(--color-white);
    border-radius: 10px;
    padding: 40px 60px;
}
.cardStack button {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F6635C !important;
    background: #F6635C !important;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    transition: all ease 300ms;
}
.cardStack button:hover {
    background: #111 !important;
}
.errorMSG {
    background: #F31559;
    border: 1px solid #F31559;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    margin-top: 10px;
    color: #fff !important;
    border-radius: 4px;
}