:root {
    --color-primary: #ED2B2A;
    --color-secondary: #272829;
    --color-white: #fff;
    --color-off-white: #f1f1f1;
    --color-black: #20262E;
    --color-success: #5B9A8B;
    --color-danger: #E96479;
    --color-warning: #FEC868;
}